<div class="profileSeparator" style="border: 0px"></div>


<div class="flexProfile card z-depth-2">
  <div class="card-title center">
    <% if current_user?(@recipient) %>
      <%= @sender.first_name %> <%= @sender.last_name %>
      <%= link_to user_path(@conversation.sender_id), class: "chatProfileButton" do %>
        <i class="material-icons tooltipped right nomargin nopadding"
           data-position="left" 
           data-tooltip="View Profile"
           data-delay="20">perm_identity</i>
      <% end %>
    <% else %>
      <%= @recipient.first_name %> <%= @recipient.last_name %>
      <%= link_to user_path(@conversation.recipient_id), class: "chatProfileButton" do %>
        <i class="material-icons tooltipped right nomargin nopadding"
           data-position="left" 
           data-tooltip="View Profile"
           data-delay="20">perm_identity</i>
      <% end %>
    <% end %>
  </div>
  <div class="messagesBlock">
    <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <% if current_user == user %>
      <div class="card userChat">
        <div class="card-content">
          <div class="list">
            <div class="item">
              <%= message.body %>
            </div>
          </div>
          <div class="timeStamp right"><%= message.message_time %></div>
        </div>
      </div>
      <% else %>
        <div class="card recepientChat">
          <div class="card-content">
            <div class="list">
              <div class="item">
                <%= message.body %>
              </div>
            </div>
            <div class="timeStamp right"><strong><%= message.message_time %></strong></div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
</div>
<div class="toBottom card centeralign nomargin z-depth-2">
  <div class="row nomargin">
    <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
          <%= f.text_area :body, class: "materialize-textarea", placeholder: "Type a message...(Enter to submit)", :id => "textarea1"%>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
    <% end %>
  </div>
</div>
    
<script>
  $('#textarea1').trigger('autoresize');
</script>

<script>
  $(document).ready(function() {
    $('#textarea1').keydown(function(event) {
        if (event.keyCode == 13) {
            this.form.submit();
            return false;
         }
    });
});
</script>