<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<div class="flexChatBox z-depth-2">
  <div class="nameBox">
    <div class="chatName center">Haasith Sanka</div> 
    <a class="chatProfileButton" href="!#"><i class="fa fa-user fontsize" aria-hidden="true"></i></a>
  </div>
    <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>
      <div class="card">
        <div class="card-content">
          <div class="header"><strong><%= user.first_name %></strong></div>
          <div class="list">
            <div class="item">
              <%= message.body %>
            </div>
          </div>
          <div class="timeStamp right"><strong><%= message.message_time %></strong></div>
        </div>
      </div>
    <% end %>
  <% end %>
    <div class="row">
      <%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
          <div class="col s11">
            <%= f.text_area :body, class: "form-control" %>
          </div>
            <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
          <div class="col s1">
            <%= f.submit "Reply", class: "btn blue" %>
          </div>
      <% end %>
    </div>
  
