<!-- THIS IS THE VIEW FOR sessions#new -->
<!-- it uses rails form_for function to generate a log-in form that works -->

<!-- want to change the title below -->
<% provide(:title, "Log in") %>

<!-- login and sign up tabs -->

<div class="row hcenter vcenter" style="position: fixed; padding-bottom: 3.125rem;">
  <div class="col s12 m6 nomargin">
    <div class="card">
      
      <div class="card-action">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3"><a href="#loginTab">LOG IN</a></li>
              <li class="tab col s3"><a href="#signupTab">SIGN UP</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="card-content">
        <div id="loginTab">
          <div class="row">
            <div class="col s12">
              <%= form_for(:session, url: login_path) do |f| %>
                <!--<i class="material-icons prefix">account_circle</i>-->
                <i class="fa fa-user fa-2x login-label-margin" aria-hidden="true"></i>
                <%= f.label :username %>
                <%= f.text_field :username, class: 'form-control' %>
                
                <i class="material-icons prefix">vpn_key</i>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                
                <div class="btn-center-relative">
                  <%= f.submit "Log in", class: "btn-large btn-primary btn-enlarge" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
        <div id="signupTab">
          <%=form_for(@user) do |f| %>
            <%=render 'shared/error_messages' %>
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">account_circle</i>
                      <%=f.text_field :first_name, class: 'form-control' %>
                        <label for="firstName">First Name</label>
                    </div>
        
                    <div class="input-field col s6">
                      <%=f.text_field :last_name, class: 'form-control' %>
                        <label for="lastName">Last Name</label>
                    </div>
                  </div>
                  
                  <div class="input-field">
                    <i class="material-icons prefix">perm_identity</i>
                    <%=f.text_field :username, class: 'form-control' %>
                      <label for="username">Username</label>
                  </div>
      
                  <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <%=f.email_field :email, class: 'form-control' %>
                      <label for="email">Email</label>
                  </div>
                  
                  
                  <div class="input-field col s6">
                    <i class="material-icons prefix">vpn_key</i>
                    <%=f.password_field :password, class: 'form-control' %>
                      <label for="password">Password</label>
                  </div>
      
                  <div class="input-field col s6">
                    <%=f.password_field :password_confirmation, class: 'form-control' %>
                      <label for="passwordConfirmation">Password Confirmation</label>
                  </div>
                
                  <div class="btn-center-relative">
                    <%=f.submit "Sign Up", class: "btn-large btn-primary btn-enlarge" %>
                  </div>                  
                </form>
              </div>
          <% end %>
        </div>   
      </div>
    </div>
  </div>
</div>
            
    
    
