<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'About Me' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Job Type", class: 'control-label'  %>
    <%= f.text_field :job_type %>
  </div>
  <div class="field">
    <%= f.label :languages %><br>
    <%= f.text_field :languages %>
  </div>
  <div class="field">
    <%= f.label :projects %><br>
    <%= f.text_area :projects %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
