<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @listing.languages %>
</p>

<p>
  <strong>Job type:</strong>
  <%= @listing.job_type %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @listing.projects %>
</p>
<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>
<p> 
  <div class="center"></div>
  <%= link_to "Hire Service", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
  </div>
</p>

<% if is_owner?(@listing) %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back', listings_path %>
