<% provide(:title, "Edit user") %>
<!-- this is view for root/users/USERNAME -->
<html>
  <%= form_for(@user, html: { class: "back", multipart: true }) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="profileInfo back">
  
    <div class="card-image z-depth-3">
      <% if @user.picture? %>
        <%= image_tag(@user.picture.url, :size => "225x225")%>
      <% else %>
        <%= image_tag "profile.jpg", :size => "225x225" %>
      <% end %>
      <div class="card-content profileImageEdit">
        <%= f.label :picture, "Change Picture" %>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </div>
    </div>
      
    <div class="card card-info picIndent back z-depth-2">
      <div class="card-content">
        <div class="profileTitle row">
          <div class="col s6">
            <%= f.label :first_name %> <%= f.text_field :first_name %>
            <%= f.label :email %> <%= f.email_field :email %>
            
            <%= f.label :password %> <%= f.password_field :password %>
            <%= f.label :password_confirmation, "Password Confirmation" %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="col s6">
          <%= f.label :last_name %> <%= f.text_field :last_name %>
          </div>
          <div class="col s12">
          </div>
        </div>
      </div>
    </div>
  
    <div class="card card-info back picIndent z-depth-2">
      <div class="card-content main-info">
        Location:
        <div class="font-body t400 ls2">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
            <%= f.label :zipcode, "ZIP Code (i.e. 92553)" %>
            <%= f.text_field :zipcode %>
        </div>
      </div>
    </div>
    
    <div class="card card-info back picIndent z-depth-2">
      <div class="card-content main-info">
        Introduction:
        <div class="font-body t400 ls2">
          <%= f.label :description, "Profile Description" %>
          <%= f.text_area :description, class: "materialize-textarea", :id => "textarea1" %>
        </div>
      </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 5.5rem; right: 24px;">
      <%= button_tag(:class => "btn-floating btn-large red") do %>
        <i class="material-icons tooltipped" 
           data-position="left" 
           data-tooltip="Save Changes"
           data-delay="50">done</i>
      <% end %>
    </div>
  </div>
  <% end %>
</html>

<script type="text/javascript">
  $('#user_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<script>
  $('#textarea1').trigger('autoresize');
</script>