<!-- Search bar -->
<div class="flexProfile card">
  <div class="row">
    <%= form_for :search, :url => search_url, :html => { :method => :get } do %>
      <div class="col s11">
      <%= text_field_tag :query, params[:query], placeholder: "Search for..." %>
      </div>
      <div class="col s1">
        <%= button_tag(:class => "btn waves-effect waves-light hcenter vcenter nomargin nopadding") do %>
          <i class="material-icons right nopadding nomargin">send</i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="profileSeparator" style="border: 0px"></div>

<div class="flexProfile card center z-depth-2 ">
  <% @users.each do |user| %>
    <% if user.reviews.blank?
      avg_review = 0
    else
     avg_review = user.reviews.average(:rating).round(2)
    end %>
    <div class="card-content card-project hoverable">
      <div class="row text-left nomargin">
        <div class="col s1">
          <% if user.picture? %>
            <%= image_tag(user.picture.url, :size => "80x80")%>
          <% else %>
            <%= image_tag "profile.jpg", :size => "80x80" %>
          <% end %>
        </div>
        <div class="col s11">
          <div class="col s11">
            <span class="profileTitle"><%= user.first_name %> <%= user.last_name %> ( <%= user.username %> )</span>
            <div class="font-body t400 ls2">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <%= user.zipcode %>
            </div>
            <div class="profileBodyText nomargin truncate" style="padding-left: 0px;">
              <%= user.description %>
            </div>
          </div>
          <div class="col s1">
            <span> <%= avg_review %> </span>
            <% if logged_in? %>
              <% if user.id != current_user.id %>
                <%= link_to conversations_path, class: "dropdown-btn" do %>
                  <i class="material-icons tooltipped"
                     data-position="right" 
                     data-tooltip="Message"
                     data-delay="20">chat</i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


<!-- Script tag for raty.js for User's average rating-->
<script>
  $('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>