<!-- Search bar -->
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
<%= submit_tag "Search" %>
<% end %>

<!-- Show results -->
<% if @users.present? %>
  <%= render @users %> 
<% else %>
  <p>There are no users under the term(s) <%= params[:search] %>.</p>
<% end %>