<!-- this is view for root/users/USERNAME -->
<html>
  <p id="notice"><%= notice %></p>
  <div class="profileInfo back">
  
    <div class="card-image z-depth-3">
      <% if @user.picture? %>
        <%= image_tag(@user.picture.url, :size => "225x225")%>
      <% else %>
        <%= image_tag "profile.jpg", :size => "225x225" %>
      <% end %>
    </div>
      
    <div class="card card-info picIndent back z-depth-2">
      <div class="card-content">
        <div class="profileTitle"><%= @user.first_name %> <%= @user.last_name %></div>

        <a class='profile-menu profileMenuButton' href='#' data-activates='profile-menu'>
          <i class="material-icons">more_vert</i>
        </a>
      
        <ul id='profile-menu' class='dropdown-content dropdown-menu'>
          <%= link_to edit_user_path(current_user.id), class: "dropdown-btn" do %>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          <% end %>
          <%= link_to conversations_path, class: "dropdown-btn" do %>
            <i class="fa fa-phone" aria-hidden="true"></i>
          <% end %>
        </ul>
        
          
      </div>
    </div>
  
    <div class="card card-info back picIndent z-depth-2">
      <div class="card-content main-info">
        Location:
        <div class="font-body t400 ls2">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <%= @user.zipcode %>
        </div>
      </div>
    </div>
    
    <ul class="card card-info back picIndent z-depth-2 collapsible-profile" data-collapsible="accordion">
      <li>
        <div class="collapsible-header cardmargin"> More Info </div>
        <div class="collapsible-body"><p><%= @user.description %></p></div>
      </li>
    </ul>
  </div>
        
  <div class="profileSeparator"></div>
        
  <div class="flexProfile card center z-depth-2 ">
    <div class="card-title">Projects</div>
    
    <% @listings.each do |listing| %>
      <%if on_profile?(@user,listing) %>
      
        <div class="card-content card-project">
          <div class="row text-left nomargin">
            
            <div class="col s6">
              <div class="row">
                <span class="font-primary t600">Project Title:</span> 
                <%= listing.name %>
              </div>
              <div class="row">
                <span class="font-primary t600">Description:</span>
                <%= listing.description %>
              </div>
            </div>
            
            <div class="col s6">
              <div class="row">
                <span class="font-primary t600">Job Type:</span> 
                <%= listing.job_type %>
              </div>
              <div class="row">
                <span class="font-primary t600">Language(s):</span>
                <%= listing.languages %>
              </div>
            </div>
            
          </div>
        </div>
        
      <% end %>
    <% end %>
  </div>
  
  <div class="profileSeparator"></div>

  <div class="flexProfile flexProfile_last card center z-depth-2">
    <div class="card-title">Reviews</div>
    
      <%= render @user.reviews %>
      
      <div class="card-review">
        <% if logged_in? %>
          <div data-no-turbolink>
            <%= link_to "Add Review", new_user_review_path(@user) %>
          </div>
        <% else %>
          <div>
            <%= link_to "Add Review", login_path %>
          </div>
        <% end %>
      </div>
      <% if logged_in? %>
        <div class="fixed-action-btn horizontal" style="bottom: 5.5rem; right: 24px;">
          <%= link_to new_listing_path, class: "btn-floating btn-large red" do %>
            <i class="material-icons">add</i>
          <% end %>
          <ul>
            <li>
              <span class="btn-tooltip">
                New Project
              </span>
            </li>
          </ul>
        </div>
      <% end %>
  </div>
</html>
  
<script>
  $('.collapsible-profile').collapsible({
    accordion : true
  });
</script>

<!-- Script tag for raty.js -->
<!-- readOnly so users can't update without proper permissions -->
<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
    return $(this).attr('data-score');
  },
    path: '/assets/'
  });
</script>

<script>
$('.profile-menu').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on hover
      gutter: 10, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'right' // Displays dropdown with edge aligned to the left of button
    }
  );
</script>