<!-- this is view for root/users/USERNAME -->
<h1>PROFILE FOR <%= @user.username %></h1>
<div><%= @user.first_name %> <%= @user.last_name %></div>
<div><%= @user.username %></div>
<div><%= @user.email %></div>