<!-- this is view for root/users/USERNAME -->

<p id="notice"><%= notice %></p>

      <div class="col s2">
          <div class="card-image pic z-depth-3">
          </div>
      </div>
            
      <div class="col s8">
          <div class="card back blue lighten-2">
            <div class="card-content black-text">
              <span class="card-title"><i class="fa fa-user" aria-hidden="true"></i> About Me</span>
              <h5 class="right"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</h5>
              <p><%= @user.description %></p>
              <h4><%= @user.first_name %> <%= @user.last_name %></h4>
              <!-- Review Code -->
              <div class="average-review-rating" data-score=<%= @average_review %>></div>
              <span>Based on <%= @user.reviews.count %> reviews</span>
              <!-- End of Review Code -->
              <h6>Contact Details: </h6>
              <h6><i class="fa fa-map-marker" aria-hidden="true"></i>  San Diego</h6>
            </div>
        </div>
      </div>
      
            <h3 class="center">Projects</h3>
            <div class="row">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Languages</th>
                      <th>Job type</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @listings.each do |listing| %>
                      <tr>
                        <%if on_profile?(@user,listing) %>
                          <td><%= listing.name %></td>
                          <td><%= listing.description %></td>
                          <td><%= listing.languages %></td>
                          <td><%= listing.job_type %></td>
                          <td><%= link_to 'Show', listing %></td>
                          <% if logged_in? %>
                            <% if is_owner?(listing) %>
                              <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
                              <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
  <!-- Review section -->
         <h3 class="center" >Reviews</h3>
         <%= render @user.reviews %>
         <% if logged_in? %>
           <div data-no-turbolink>
             <%= link_to "Add Review", new_user_review_path(@user) %>
           </div>
         <% else %>
           <div>
             <%= link_to "Add Review", login_path %>
           <% end %>
         </div>
         
         <!-- Script tag for raty.js for each indvidual review-->
         <!-- readOnly so users can't update without proper permissions -->
         <script>
           $('.review-rating').raty({
             readOnly: true,
             score: function() {
               return $(this).attr('data-score');
             },
             path: '/assets/'
           });
         </script>
         
          <!-- Script tag for raty.js for User's average rating-->
          <script>
            $('.average-review-rating').raty({
          		readOnly: true,
          		path: '/assets/',
          		score: function() {
          			return $(this).attr('data-score')
          		}
          	});
          </script>
  <!-- End of Review Section -->
</html>
   
   
   
  