<!-- this is view for root/users/USERNAME -->

<p id="notice"><%= notice %></p>

      <div class="col s2">
          <div class="card-image pic z-depth-3">
          </div>
      </div>
      
      <div class="flexProfile">
          <div class="card back picIndent z-depth-2">
            <div class="card-content black-text">
              <h4><%= @user.first_name %> <%= @user.last_name %></h4>
              
            </div>
        </div>
      </div>
      
      
      <div class="flexProfile">
          <div class="card back picIndent z-depth-2">
            <div class="card-content black-text">
              <p><%= @user.description %></p>
            </div>
        </div>
      </div>
      
            <h3 class="center">Projects</h3>
            
      <div class="flexProfile">
          <div class="card back z-depth-2">
            <div class="card-content black-text">
              <%= @listings.name %>
              <br>
            </div>
        </div>
      </div>
            
            
            <div class="row">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Languages</th>
                      <th>Job type</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @listings.each do |listing| %>
                      <tr>
                        <%if on_profile?(@user,listing) %>
                          <td><%= listing.name %></td>
                          <td><%= listing.description %></td>
                          <td><%= listing.languages %></td>
                          <td><%= listing.job_type %></td>
                          <td><%= link_to 'Show', listing %></td>
                          <% if logged_in? %>
                            <% if is_owner?(listing) %>
                              <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
                              <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
         
</html>
   
   
   
  