<!-- this is view for root/users/USERNAME -->

<p id="notice"><%= notice %></p>

   <div class="row">
      <div class="col s12">
        <div class="card cardSize blue lighten-2">
            <div class="row">
                <div class="col s2 h200">
                  <div class="card-image pic">
                  </div>
                </div>
                <div class="col s10">
                      <h4><%= @user.first_name %> <%= @user.last_name %><a class="waves-effect waves-light btn right top" href="edit">Edit</a></h4>
                      <h6><%= @user.username %></h6>
                      <h6><%= @user.email %></h6>
                      <p>How will a shot scratch into the lyric buffer? Will the rights rag elaborate? After a thesis gasps a sole feat. The league reads on top of whatever trumpet! The dentist weds an integral guide after the recruit. The pattern pumps!</p>
                      <div class="chip">
                        Java
                      </div>
                      <div class="chip">
                        C++
                      </div>
                      <div class="chip">
                        C#
                      </div>
                </div>
            </div>
      </div>
            <h3 class="center">Projects</h3>
            <div class="row">
                <table>
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Languages</th>
                      <th>Job type</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                
                  <tbody>
                    <% @listings.each do |listing| %>
                      <tr>
                        <%if on_profile?(@user,listing) %>
                          <td><%= listing.name %></td>
                          <td><%= listing.description %></td>
                          <td><%= listing.languages %></td>
                          <td><%= listing.job_type %></td>
                          <td><%= link_to 'Show', listing %></td>
                          <% if logged_in? %>
                            <% if is_owner?(listing) %>
                              <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
                              <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                            <% end %>
                          <% end %>
                        <% end %>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

            </div>
   </div>