<!-- this is view for root/users/USERNAME -->
<html>
  <div class="clearfix" style="height: 3.125rem"></div>
  <p id="notice"><%= notice %></p>
  <div class="profileInfo back">
  
    <div class="card-image z-depth-3">
      <% if @user.picture? %>
        <%= image_tag(@user.picture.url, :size => "225x225")%>
      <% else %>
        <%= image_tag "profile.jpg", :size => "225x225" %>
      <% end %>
    </div>
      
    <div class="card picIndent back z-depth-2">
      <div class="card-content">
        <div class="profileTitle"><%= @user.first_name %> <%= @user.last_name %></div>
          <a class="right tab" href="home"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a class="right tab" href="home"><i class="fa fa-star" aria-hidden="true"></i></a>
          <a class="right tab" href="home"><i class="fa fa-phone" aria-hidden="true"></i></a>
      </div>
    </div>
  
    <div class="card back picIndent z-depth-2">
      <div class="card-content main-info">
        Location:
        <i class="fa fa-map-marker" aria-hidden="true"><%= @user.zipcode %></i>
      </div>
    </div>
  
  
    <ul class="card back picIndent z-depth-2 collapsible-profile" data-collapsible="accordion">
      <li>
        <div class="collapsible-header cardmargin"> More Info </div>
        <div class="collapsible-body"><p><%= @user.description %></p></div>
      </li>
    </ul>

  </div>
  
        
  <h3 class="center">Projects</h3>
  
  <div class="flexProfile flexProfile_last">
    <% @listings.each do |listing| %>
      <%if on_profile?(@user,listing) %>
        <div class="card back z-depth-2">
          <div class="card-content black-text">
              <h5><%= listing.name %></h5>
              <h5><%= listing.description %></h5>
              <h5><%= listing.job_type %> </h5>
              <h5><%= listing.languages %> </h5>
          </div>

        </div>
      <% end %>
    <% end %>
  </div>
    
  <% if logged_in? %>
    <div class="fixed-action-btn" style="bottom: 5.5rem; right: 24px;">
        <%= link_to "+", new_listing_path, class: "btn-floating btn-large red" %>
          <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
    </div>
  <% end %>
  
<script>
  $('.collapsible-profile').collapsible({
    accordion : true
  });
</script>