<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
      <script type="text/javascript">
        Materialize.toast('There are <%= pluralize(@project.errors.count, "error") %> that prohibited this listing from being saved', 4000, 'form-error-toast')
      </script>
      <% @project.errors.full_messages.each do |message| %>
            <script type="text/javascript">
              Materialize.toast('<%= message %>', 4000, 'form-error-toast')
            </script>
      <% end %>
  <% end %>
    <div class="card-content card-project">
      <div class="profileTitle text-left row nomargin" style="width: 100%">
        <div class="row" style="font-size: 15px;">
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.label :description %>
            <%= f.text_area :description, class: "materialize-textarea", :id => "textarea1" %>
            <div class="col s6">
              <%= f.label :languages %>
              <%= f.text_field :languages %>
            </div>
            <div class="col s6">
              <%= f.label :job_type %>
              <%= f.text_field :job_type %>
            </div>
        </div>
        <%= button_tag(:class => "btn waves-effect waves-light hcenter vcenter") do %>
          Submit <i class="material-icons right">send</i>
        <% end %>
      </div>
    </div>
<% end %>

<script>
  $('#textarea1').trigger('autoresize');
</script>