<div class="flex item-center">

  <a href="<%= root_url %>" class="content-header item-center font-primary t600">getDev <sup class="alpha">ALPHA</sup></a>

  <ul class="content-header" id="nav-mobile">
    
    <% if logged_in? %>
    
      <li>
        
        <%=link_to "Log out", logout_path, :style=>'color: #fff !important;', method: "delete" %>
        
      </li>
      
      <% else %>
      
        <li>
          
          <%=link_to "Log in", login_path, :style=>'color: #fff !important;', :"data-no-turbolink" => true %>
          
        </li>
        
        <% end %>
        
  </ul>
  
    <div class="sidenav">
    
    <% if logged_in? %>
    
        <a class="button-collapse show-on-large" href="#!" data-activates="slide-out">
          
          <i class="material-icons" style="color: #fff !important">menu</i>
          
        </a>
      
        <ul id="slide-out" class="left side-nav">
          
          <li>
            
            <a href="<%= user_path(current_user.username) %>" id="logo-container" class="nomargin nopadding">
              
              <% if current_user.picture? %>
                <%= image_tag(current_user.picture.url, :size => "240x240")%>
              <% else %>
                <%= image_tag "profile.jpg", :size => "240x240" %>
              <% end %>     
              
              <div class="profileTitle uppercase"><%= current_user.first_name %> <%= current_user.last_name %></div>
              
            </a>
            
          </li>
          
          <li><%= link_to "Home", root_url, :"data-no-turbolink" => true %></li>
          
          <li><%= link_to "Search", users_path, :"data-no-turbolink" => true %></li>
          
          <li><%= link_to "Mailbox", conversations_path, class: "item" %></li>
          
          <li><%= link_to "Purchases", purchases_path() %></li>
          
          <li><%= link_to "Sales", sales_path() %></li>
          
          <li><%= link_to "Favorites", following_user_path(current_user), :"data-no-turbolink" => true %></li>
          
          <li><%= link_to "Settings", edit_user_path(current_user.id) %></li>
          
        </ul>
        
      <% end %>
    
  </div>
  
    
</div>

<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
  });
</script>