<div class="flex item-center">

  <a href="home" class="content-header item-center font-primary t400">Blitz <sup class="alpha">ALPHA</sup></a>

  <ul class="content-header" id="nav-mobile">
    
    <% if logged_in? %>
    
      <li>
        
        <%=link_to "Log out", logout_path, method: "delete" %>
        
      </li>
      
      <% else %>
      
        <li>
          
          <%=link_to "Log in", login_path %>
          
        </li>
        
        <% end %>
        
  </ul>
  
    <div class="sidenav">
    
    <% if logged_in? %>
    
        <a class="button-collapse show-on-large" href="#!" data-activates="slide-out">
          
          <i class="material-icons">menu</i>
          
        </a>
      
        <ul id="slide-out" class="left side-nav">
          
          <li>
            
            <a href="home" id="logo-container" class="nomargin nopadding">
              
              <img src="../assets/profile-photo-placeholder.png" class="circle">
              
              <div class="name"></div>
              
            </a>
            
          </li>
          
          <li><%= link_to "Profile", "/users/#{current_user.username}" %></li>
          
          <li><%= link_to "Listings", listings_path %></li>
          
          <li><%= link_to "Mailbox", conversations_path, class: "item" %></li>
          
          <li><%= link_to "Settings", "/users/edit" %></li>
          
        </ul>
        
      <% end %>
    
  </div>
  
    
</div>

<script>
  $(document).ready(function() {
    $('.button-collapse').sideNav();
  });
</script>