<!DOCTYPE html>
<html>
<head>
  <title>getDev</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/" %>
  <%= tag :meta, :name => "stripe-key", :content => ENV["STRIPE_PUBLIC_KEY"] %>
  <script src="jquery/dist/jquery.js" charset="utf-8"></script>
  <script src="Materialize/bin/materialize.js" charset="utf-8"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
</head>
<header id="header" class="z-depth-2">
  <%= render 'layouts/navigation' %>
</header>
<main class="main" id="main">
  <div class="clear" style="height: 3.125rem"></div>
  <% flash.each do |message_type, message| %>
    <script type="text/javascript">
      Materialize.toast('<%= message %>', 4000)
    </script>
  <% end %>
  <%= csrf_meta_tags %>
  <%= yield %>
</main>
<footer class="flex z-depth-2">
  <%= render 'layouts/footer' %>
</footer>

<script type="text/javascript" src="../assets/jquery.js"></script>
<script type="text/javascript" src="../assets/materialize.js"></script>
 